.textOutputContainer {
  .textOutput {
    text-align: center;
  }
  .remainingTime {
    text-align: center;
    font-size: 5em;
    margin: 1rem;
  }
}

.flashing {
  animation-name: flashing-opacity;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.red {
  color: red;
}


@keyframes flashing-opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
